@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins" , sans-serif;

}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(11.jpg);
    background-position: center;
    background-size: cover;
    color: #fff;
}

.wrapper{
    width: 750px;
    background: purple;
    border-radius: 10px;
    padding: 40px 35px 55px;
    backdrop-filter: blur(50px);
    border-radius: 10px;
    box-shadow: 0 0 10px #fff;
    margin: 0 10px;
}

.wrapper h1{
      font-size: 36px;
      text-align: center;
      margin-bottom: 20px;
}

.wrapper .input-box{
    display: flex;
    justify-content: space-between;
    flex-direction: wrap;
    background-color: purple;
}

.input-box .input-feild{
    position: relative;
    width: 48%;
   /* background: salmon;  */
    margin: 13px 0;
}

.input-box .input-feild input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    outline: none;
    font-size: 16px;
    color: #fff;
    border-radius: 6px;
    padding: 15px 15px 15px 40px;
}

.input-box .input-feild input::placeholder{
    color: #fff;
}

.input-box .input-feild i{
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.wrapper label{
    display: inline-block;
    font-size: 14.5px;
    margin: 10px 0 23px;
}

.wrapper label input{
    accent-color: #fff;
    margin-right: 5px;
}

.wrapper .btn{
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 6px;
    box-shadow:  0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
}

@media (max-width: 776px) {
    .input-box .input-feild {
        width: 100%;
        margin: 10px 0;
    }
}